#contact {
  position: relative;
  min-height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
}
.contact-details {
  margin: 10px;
  flex-grow: 1;
}
.contact-details a {
  display: block;
  text-decoration: none;
  color: black;
  padding-block: 10px;
  overflow: hidden;
}
.contact-details i {
  color: green;
  margin: 5px 15px;
}
.contact-map {
  flex-grow: 1;
  height: 300px;
  padding: 10px;
}
.contact-logo img {
  height: auto;
  width: 100%;
}
.trademark {
  width: 100vw;
  font-size: large;
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}
@media screen and (max-width: 600px) {
  #contact {
    font-size: 14px;
  }
}
